h1 {
    color: white;
    background-color : blue;
}
h2 {
    color : purple;
}
h3 {
    color : green;
}
span {
    color : red;
}
p {
    color : blue;
}
ul {
    background-color : lightgrey;
}
a {
    color : blue;
}
button {
    background-color : yellow;
}
