/* box sizing */
* {
  box-sizing: border-box;
}
/* root */
:root {
  --gray: gray;
  --lightgray: lightgray;
  --lightblue: lightblue;
  --blue: blue;
}
/* body */
body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  margin: 0;
}

/* paragraphs */
p {
  margin: 0;
  line-height: 1.6;
  font-size: 14px;
}

/* link */
a {
  color: var(--blue);
  text-decoration: none;
}

/* image */
img {
  max-width: 100%;
}

/* button */
button {
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  border: solid 3px var(--blue);
  border-radius: 10px;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
}
/* container */
.container {
  max-width: 70rem;
  padding-inline: 24px;
  width: min(100% - 40px);
  margin-inline: auto;
}

/* ----------------------------------------------- */

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightgray);
  padding: 20px;
}

#logo {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 20px;
  align-items: center;

  margin: 0;
  list-style: none;

  font-size: 14px;
}

/* ----------------------------------------------- */

/* banner */


#banner {
  background-color: var(--lightblue);
  padding-block: 140px;
}

#banner .container {
  text-align: center;
  max-width: 700px;
}

#banner a {
  padding: 20px;
}

/* ----------------------------------------------- */

/* services */
#services {
  padding-block: 70px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  border: solid var(--gray) 1px;
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 20px);
  flex-grow: 1;
}

.card i {
  color: var(--blue);
}

h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 0px;
}